.nav-icon {
  max-height: 50px;
}

.locked-in-img {
  max-height: 250px;
}

.how-to {
  padding-top: 5%;
  padding-bottom: 5%;
}

.header-logo {
  font-size: x-large;
  color: white;
}

.gimme-space-bottom {
  padding-bottom: 50px;
}

.gimme-space-top {
  margin-top: 50px;
}

.custom-header {
  font-size: 26px;
}

.custom-title {
  font-size: 20px;
}