body{
  background: #0F2027;  /* fallback for old browsers */
  color: white !important;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-logo {
    font-size: x-large;
    color: white;
}

.nav-icon {
  max-height: 50px;
}

.modal {
  color: black;
}

.the-number {
  font-size: 3em;
    /* margin-top: 45px; */
}
#map {
  height: 100%;
}

.map-height { 
  height: 400px;
}

.ppv-height {
  height:50px;
  margin-top: -20px;
}

.journal {
  border-width: 6px !important;
  padding: 15px !important;
}

#topbutton3 {
  cursor: pointer;
}